<!DOCTYPE html><!--[if IE]>  <html class="ie"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
	</head>
	<body>
		<div class="stl_02">
			<div class="stl_view">
				<div class="stl_03 stl_04">
					<div class="stl_01" style="left:0.5em;top:0.4724em;"><span class="stl_05 stl_06 stl_07" style="word-spacing:-0.0319em;">FORMAT:1A HOST: localhost:8080/ &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:3.059em;"><span class="stl_08 stl_06 stl_09">supermarket &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:6.7525em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0103em;">Supermarket is a REST-API allowing front-end developers to create super-market management applications. &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:9.1007em;"><span class="stl_10 stl_06 stl_09" style="word-spacing:-0.0181em;">Product [/product/{id}] &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:12.0104em;"><span class="stl_11 stl_06 stl_09" style="word-spacing:-0.0061em;">Get a Product [GET] &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:15.6465em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• Response 200 (application/json) &nbsp;</span></div>
					<div class="stl_01" style="left:3.9083em;top:17.9455em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:5.725em;top:18.8537em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:19.762em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"barcode": "2340002112286", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:20.6702em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:21.5785em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"description": "Bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:22.4867em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"category": { &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:23.395em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:24.3032em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Fruits" &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:25.2115em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:26.1197em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"brand": { &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:27.028em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id", 1, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:27.9362em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Chiquita" &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:28.8445em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:29.7527em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"vatTarrif": "LOW", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:30.661em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"unit": "KG", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:31.5692em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"price": 0.55, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:32.4775em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"brand": { &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:33.3857em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Chiquita" &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:34.294em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:35.2022em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"suppliers": [ &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:36.1105em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:9.3583em;top:37.0187em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 9, &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:37.927em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Fruits Supplier" &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:38.8352em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:39.7435em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:9.3583em;top:40.6517em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 8, &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:41.56em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Generic Supplier" &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:42.4682em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:5.725em;top:43.3765em;"><span class="stl_12 stl_13 stl_09">]</span></div>
					<div class="stl_01" style="left:3.9083em;top:44.2847em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:0.5em;top:47.2322em;"><span class="stl_10 stl_06 stl_09" style="word-spacing:-0.0181em;">Product Creation [/product/] &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:50.1419em;"><span class="stl_11 stl_06 stl_09" style="word-spacing:-0.0091em;">Create a New Product [POST] &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:52.658em;"><span class="stl_05 stl_06 stl_09">Yo</span><span class="stl_05 stl_06 stl_14">u</span><span class="stl_05 stl_06 stl_09">m</span><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">ay create your own product using this action. It takes a JSON object containing the following properties. &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:53.8579em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">Omitted properties will be converted to null if not mandatory. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:57.2979em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• barcode (string - mandatory) - The product's barcode. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:60.738em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• name (string - mandatory) - The product's name. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:64.1779em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• description (string - optional) - A short description of the product. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:67.6179em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• category (JSON object - mandatory) - The product's category id. &nbsp;</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_view">
				<div class="stl_03 stl_04">
					<div class="stl_01" style="left:2.4em;top:1.5924em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• brand (JSON object/mandatory) - The product's brand id. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:5.0325em;"><span class="stl_05 stl_06 stl_15" style="word-spacing:-0.0176em;">• vatTarrif (number) - The product's VATcategory, (NONE:0, ZERO:1, LOW:2, HIGH:3). &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:8.4724em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0055em;">• unit (number) - The product unit of measurement category, (UNSPECIFIED:0, PC:1, KG:2). &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:11.9125em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• price (number) - The product's price. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:15.3525em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• suppliers (Array) - The suppliers' ids associated with the product. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:18.7925em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• Request (application/json) &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:21.0915em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:7.5417em;top:21.9997em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"barcode": "1iia778n220k1", &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:22.908em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:23.8162em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"description": "These are some bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:24.7245em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"category": { &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:25.6327em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1 &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:26.541em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:27.4492em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"brand": { &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:28.3575em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1 &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:29.2657em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:30.174em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"vatTarrif": 2, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:31.0822em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"unit": 2, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:31.9905em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"price": 1.25, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:32.8987em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"suppliers": [ &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:33.807em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:11.175em;top:34.7152em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1 &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:35.6235em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:36.5317em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:11.175em;top:37.44em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 2 &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:38.3482em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:7.5417em;top:39.2565em;"><span class="stl_12 stl_13 stl_09">]</span></div>
					<div class="stl_01" style="left:5.725em;top:40.1647em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:2.4em;top:43.0839em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• Response (body) &nbsp;</span></div>
					<div class="stl_01" style="left:3.9083em;top:45.383em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:5.725em;top:46.2912em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 22, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:47.1995em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"barcode": "1iia778n220k1", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:48.1077em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:49.016em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"description": "These are some bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:49.9242em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"category": { &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:50.8325em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:51.7407em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Fruits &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:52.649em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:53.5572em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"brand": { &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:54.4655em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:55.3737em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Chiquita" &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:56.282em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:57.1902em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"vatTarrif": "LOW", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:58.0985em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"unit": "KG", &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:59.0067em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"price": 1.25, &nbsp;</span></div>
					<div class="stl_01" style="left:5.725em;top:60.8232em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"suppliers": [ &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:61.7315em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:9.3583em;top:62.6397em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 9, &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:63.548em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Fruit Supplier" &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:64.4562em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:65.3645em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:9.3583em;top:66.2727em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 8, &nbsp;</span></div>
					<div class="stl_01" style="left:9.3583em;top:67.181em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Generic Supplier" &nbsp;</span></div>
					<div class="stl_01" style="left:7.5417em;top:68.0892em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:5.725em;top:68.9975em;"><span class="stl_12 stl_13 stl_09">]</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_view">
				<div class="stl_03 stl_04">
					<div class="stl_01" style="left:3.9083em;top:0.4515em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:0.5em;top:3.399em;"><span class="stl_10 stl_06 stl_09" style="word-spacing:-0.0091em;">Product Update [/product/{id}] &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:6.3087em;"><span class="stl_11 stl_06 stl_09" style="word-spacing:-0.0046em;">Update an Existing Product [PUT] &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:8.8247em;"><span class="stl_05 stl_06 stl_09">Yo</span><span class="stl_05 stl_06 stl_14">u</span><span class="stl_05 stl_06 stl_09">m</span><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">ay update an existing product using this action. It takes a JSON object containing the following properties. &nbsp;</span></div>
					<div class="stl_01" style="left:0.5em;top:10.0247em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">Omitted properties will be converted to null if not mandatory. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:13.4647em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• barcode (string - mandatory) - The product's barcode. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:16.9047em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• name (string - mandatory) - The product's name. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:20.3447em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• description (string - optional) - A short description of the product. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:23.7847em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• category (JSON object - mandatory) - The product's category id. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:27.2247em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• brand (JSON object/mandatory) - The product's brand id. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:30.6647em;"><span class="stl_05 stl_06 stl_15" style="word-spacing:-0.0176em;">• vatTarrif (number) - The product's VATcategory, (NONE:0, ZERO:1, LOW:2, HIGH:3). &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:34.1047em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0055em;">• unit (number) - The product unit of measurement category, (UNSPECIFIED:0, PC:1, KG:2). &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:37.5447em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• price (number) - The product's price. &nbsp;</span></div>
					<div class="stl_01" style="left:2.4em;top:40.9847em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">• suppliers (Array) - The suppliers' ids associated with the product. &nbsp;</span></div>
					<div class="stl_01" style="left:4.8957em;top:44.4247em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">◦ Request (application/json) &nbsp;</span></div>
					<div class="stl_01" style="left:5.9542em;top:46.7237em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:7.7708em;top:47.632em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"barcode": "1iia778n220k1", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:48.5402em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:49.4485em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"description": "These are some bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:50.3567em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"category": { &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:51.265em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1 &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:52.1732em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:53.0815em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"brand": { &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:53.9897em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1 &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:54.898em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:55.8062em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"vatTarrif": 2, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:56.7145em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"unit": 2, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:57.6227em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"price": 1.25, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:58.531em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"suppliers": [ &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:59.4392em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:11.4042em;top:60.3475em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1 &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:61.2557em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:62.164em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:11.4042em;top:63.0722em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 2 &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:63.9805em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:14.1292em;top:64.8887em;"><span class="stl_12 stl_13 stl_09">]</span></div>
					<div class="stl_01" style="left:9.5875em;top:65.797em;"><span class="stl_12 stl_13 stl_09">}</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_view">
				<div class="stl_03 stl_04">
					<div class="stl_01" style="left:4.8957em;top:1.5924em;"><span class="stl_05 stl_06 stl_09" style="word-spacing:-0.0001em;">◦ Response 201 (body) &nbsp;</span></div>
					<div class="stl_01" style="left:5.9542em;top:3.8915em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:7.7708em;top:4.7997em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 22, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:5.708em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"barcode": "1234567891230", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:6.6162em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:7.5245em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"description": "These are some bananas", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:8.4327em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"category": { &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:9.341em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:10.2492em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Fruits" &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:11.1575em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:12.0657em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"brand": { &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:12.974em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:13.8822em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Chiquita" &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:14.7905em;"><span class="stl_12 stl_13 stl_09">}, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:15.6987em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"vatTarrif": "LOW", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:16.607em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"unit": "KG", &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:17.5152em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"price": null, &nbsp;</span></div>
					<div class="stl_01" style="left:7.7708em;top:18.4235em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.3501em;">"suppliers": [ &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:19.3317em;"><span class="stl_12 stl_13 stl_09">{</span></div>
					<div class="stl_01" style="left:11.4042em;top:20.24em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"id": 1, &nbsp;</span></div>
					<div class="stl_01" style="left:11.4042em;top:21.1482em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.35em;">"name": "Fruit supplier" &nbsp;</span></div>
					<div class="stl_01" style="left:9.5875em;top:22.0565em;"><span class="stl_12 stl_13 stl_09">}</span></div>
					<div class="stl_01" style="left:7.7708em;top:22.9647em;"><span class="stl_12 stl_13 stl_09">]</span></div>
					<div class="stl_01" style="left:5.9542em;top:23.873em;"><span class="stl_12 stl_13 stl_09">}</span></div>
				</div>
			</div>
		</div>
	</body>
</html>